body {
    background-color: hsl(30, 54%, 90%);
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    color:hsl(24, 5%, 18%);
}

h2 {
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif', serif;
}

h3 {
    color: hsl(332, 51%, 32%);
}

hr {
    height: 1px;
    background-color: hsl(30, 18%, 87%);
    border: none;
}

li {
    padding-bottom: 1rem;
}

img {
    width: 100%;
    border-radius: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: hsl(0, 0%, 100%);

    max-width: 40rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;
    border-radius: 2rem;
}

.info {
    padding-bottom: 2rem;
}

.prepare-container {
    background-color: hsl(330, 100%, 98%);
    padding: 0.5rem 2rem 0.1rem 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}


td {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.last-col {
    border: none !important;
}

.left-col {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

footer {
    margin-bottom: 1rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media only screen and (max-width: 375px) {
    body {
      background-color: hsl(0, 0%, 100%);
      display: inline;
      
    }
    .container {
        margin-top: 0;
        padding-top: 0;
    }
    img {
        border-radius: 0;
        width: calc(100% + 4rem);
        margin-left: -2rem;
        margin-right: -2rem;
    }
    li {
        margin-left: -1rem;
    }
    hr {
        height: 1px;
        background-color: hsl(30, 18%, 87%);
        border: none;
        margin: 1rem 0;
    }    
  }